<!DOCTYPE html>
<html lang="en">

{% include head.html %}





<body ontouchstart="">

    {% include nav.html %}

    {{ content }}
    
<script>
    window.tctipConfig = {
        staticPrefix:   "http://static.tctip.com",
        buttonImageId:  1,
        buttonTip:  "zanzhu",
        list:{
            alipay: {qrimg: "http://tctip.com/img/alipayqr.png"},
            weixin:{qrimg: "http://littlebtc.com/images/yeshen.png"},
        }
};
</script>
<script src="http://static.tctip.com/js/tctip.min.js"></script>

    {% include footer.html %}

</body>

</html>
